<%- include ../Partials/header.ejs%>
<%- include ../Partials/main_nav.ejs%>
<!--Weight Database-->

<link rel= "stylesheet" href= "Content\about.css"/>
<link rel= "stylesheet" href= "Content\jumbotron.css"/>

<main>
  <div class="jumbotron">
    <h1 class="display-4">Hello!</h1>
    <p class="lead">This is <%= title %>.</p>
    <hr class="my-4">
  </div>

<main class="container">
    <div class="row">
        <div class="offset-md-1 col-md-10">
            <h1><%= title %></h1>
            <br>
            <a href="/weight/add" class="btn btn-primary" role="button">
                <i class="fas fa-plus-circle"></i> Add Weight
            </a>
            <table class="table table-bordered table-striped table-hover">
                <tr class="d-flex">
                    <th class="text-center col-2">Weight</th>
                    <th class="text-center col-2">Week</th>
                    <th class="text-center col-1">GoalReached</th>
                    <th class="text-center col-1">Date</th>
                </tr>
                <% for(let count=0;count<weight.length;count++) { %>
                <tr class="d-flex">
                    <td class="text-center col-2"><%= weight[count].Week %></td>
                    <td class="text-center col-2"><%= weight[count].weight %></td>
                    <td class="text-center col-1"><%=weight[count].GoalReached%></td>
                    <td class="text-center col-1"><%= weight[count].date %></td>
                    <td class="text-center col-1">
                        <a href="/weight/edit/<%= weight[count]._id%>"
                            class="btn btn-primary btn-sm">
                        <i class="fas fa-pencil-alt"></i>Edit
                    </a>
                    </td>
                    <td class="text-center col-1">
                        <a href="/weight/delete/<%= weight[count]._id%>"
                            class="btn btn-danger btn-sm">
                        <i class="fas fa-trash-alt"></i>Delete
                    </a>
                    </td>
                </tr>    
                    <%} %>
            </table>
        </div>
    </div>
</main>
<%- include ../Partials/footer.ejs%>