<% include partials/header.ejs %>
<% include partials/main_nav.ejs%>

<link rel= "stylesheet" href= "Content\app.css"/>
<link rel= "stylesheet" href= "Content\jumbotron.css"/>



<main>
<div class="jumbotron">
  <h1 class="display-4">Hello!</h1>
  <p class="lead">This is my <%=title%> .</p>
  <hr class="my-4">
  </p>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-offset-3 col-md-6">
        <h1><%= title %></h1>
        <br>
    <table class="table table-bordered table-striped table-hover">
    <tr>
        <th class= "text-center"> Week </th>
        <th class= "text-center"> Weight </th>
        <th class= "text-center"> GoalReached </th>
        <th class= "text-center"> Date </th>
    </tr>

    <% for(let count=0; count < weight.length; count++) { %>
        <tr>
            <td class ="text-center"><%= weight[count].week %></td>
            <td class ="text-center"><%= weight[count].weight %></td>
            <td class ="text-center"><%= weight[count].GoalReached %></td>
            <td class ="text-center"><%= weight[count].date %></td>
        </tr>

    <% } %>
    </table>
</div>
</div>
</main>


<% include partials/bottom_nav.ejs%>
<% include partials/footer.ejs%>